<footer class="mt-auto py-3 text-center bg-light border-top">
  <small class="text-muted">
    © Copyright 2025. All rights reserved
  </small>
</footer>

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/Script/app.js"></script>
</body>
</html>
