<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    <%= typeof title !== 'undefined'
        ? `${title} | Habit Tracker`
        : 'Habit Tracker' %>
  </title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/Content/app.css">
</head>
<body class="d-flex flex-column min-vh-100">
