<%- include('./partials/header') %>
<%- include('./partials/main_nav') %>

<div class="container my-5">
  <div class="row align-items-center">
    <div class="col-md-7">
      <h1 class="mb-3">Welcome to Habit Tracker</h1>
      <p class="lead">
        Build better habits by tracking your daily progress in one simple dashboard.
      </p>
      <a href="/habits" class="btn btn-primary btn-lg mt-3">Start Tracking</a>
    </div>
    <div class="col-md-5">
      <!-- You can add a nice image or icon here -->
      <div class="card shadow-sm p-3">
        <h4>Examples:</h4>
        <ul>
          <li>Drink 8 glasses of water</li>
          <li>Read for 20 minutes</li>
          <li>Exercise 3 times a week</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
